.form-control {
	margin-bottom: 20px;
}

.input-group {
	 margin-bottom: 20px;
}

.header {
	background-color: #3f51b5;
	width: 100%;
	color: white;
	margin-top:-20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.jumbotron {
		
}
.form-control {
  border-radius: 0px;
}

.input-group-addon {
  border-radius: 0px;
}

.btn-teste {
	border-radius: 0px;
	background-color:#3f51b5!important;
	border: 0px;
	color: white;
	font-weight: bold;
}
h1 {
  padding: 15px;
}

.btn  a {
  color: #fff;
}
